# An example env file, replace the placeholder values with your actual local creds and also place those in an actual .env file

DATABASE_URL="postgresql://user:password@localhost:5432/taskmanager"
NEXTAUTH_SECRET="some-random-secret"
NEXTAUTH_URL = "http://localhost:3000"